 {{title}}
<br><br>
<div class="row">
    Filter By:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <!-- Two way binding [(ngModel)]='filter'-->
    <input type="text" [(ngModel)]='listFilter'>
    <!-- {{listFilter}} -->
    <!-- <input type="text" [(ngModel)]='_listfilter'> {{filter}} -->

</div>
<br>
<div class="row">
    <h4>Products</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">

                    <!-- Event binding (click)='toggleImage()' -->
                    <button class="btn btn-primary" (click)='toggleImage()'>{{imageShow? "Hide": "Show"}} Image</button>
                </th>

                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of filteredEmployees">

                <!-- Property binding [src] = 'employee.img' -->
                <td> <img *ngIf="imageShow" [src]='employee.img' [style.width.px]='imageWidth' [style.margin.px]='imageMargin' [title]='employee.name'> </td>
                <td style="margin: auto;">{{employee.id | currency: "INR" :"symbol": "1.0-2"}}</td>
                <!-- Interpolation {{employee.name }} -->
                <td>{{employee.name | convertToSpaces:"-" }}</td>
                <td>
                    <pm-star [rating]='employee.star'></pm-star>
                </td>
            </tr>
        </tbody>
    </table>
</div>